### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_df = pd.read_csv(file_to_load)
purchase_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [3]:
number_players=purchase_df["SN"].value_counts()
len(number_players)
total_player_df = pd.DataFrame([
    {"Total numberr of players": len(number_players)}
])
total_player_df

   Total numberr of players
0                       576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
number_items=purchase_df["Item Name"].unique()
len(number_items)

179

In [5]:
avg_price=purchase_df["Price"].mean()

In [6]:
number_of_purchase=len(purchase_df)

In [7]:
total_revenue=purchase_df["Price"].sum()

In [8]:
summary_df = pd.DataFrame({
    "Number of Unique Items": [len(number_items)],
    "Average Price": [purchase_df["Price"].mean()],
    "Number of Purchases": [len(purchase_df)],
    "Total Revenue": [purchase_df["Price"].sum()]
})
summary_df["Average Price"] = summary_df["Average Price"].map("${:.2f}".format)
summary_df["Total Revenue"] = summary_df["Total Revenue"].map("${:.2f}".format)
summary_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [9]:
gender_percentage_series=purchase_df["Gender"].value_counts()/len(purchase_df)
gender_count_series=purchase_df["Gender"].value_counts()
gender_summary_df=pd.DataFrame({'Gender':gender_count_series.index,
                                'Total Counts':gender_count_series.values,
                                'Percentage':(["{0:.2f}%".format(val * 100) for val in gender_percentage_series.values])
})
gender_summary_df

                  Gender  Total Counts Percentage
0                   Male           652     83.59%
1                 Female           113     14.49%
2  Other / Non-Disclosed            15      1.92%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [10]:
#Purchase Count
gender_purchase_count = purchase_df.groupby(["Gender"]).count()["Price"]
gender_purchase_count

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Price, dtype: int64

In [11]:
#Average Purchase Count
gender_avg_purchase = purchase_df.groupby(["Gender"]).mean()["Price"]
gender_avg_purchase

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [12]:
#Total purchase count
gender_total_purchase = purchase_df.groupby(["Gender"]).sum()["Price"]
gender_total_purchase

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [13]:
unique_purchase_df=purchase_df.drop_duplicates(subset=['SN'], keep='first', inplace=False)
unique_purchase_df.head()
unique_gender_count = unique_purchase_df.groupby(["Gender"]).count()["Price"]
unique_gender_count

#Normalized avg
gender_norm_avg = gender_total_purchase / unique_gender_count
gender_norm_avg

Gender
Female                   4.468395
Male                     4.065372
Other / Non-Disclosed    4.562727
Name: Price, dtype: float64

In [14]:
#create a summary table
gender_summary_df = pd.DataFrame({
    "Gender": gender_count_series.index,
    "Purchase Count": gender_purchase_count.values,
    "Average Purchase Count":gender_avg_purchase.values,
    "Total Purchase Count": gender_total_purchase.values,
    "Average Total Purchase Per Person": gender_norm_avg.values
})
gender_summary_df["Average Purchase Count"] = gender_summary_df["Average Purchase Count"].map("${:.2f}".format)
gender_summary_df["Total Purchase Count"] = gender_summary_df["Total Purchase Count"].map("${:.2f}".format)
gender_summary_df["Average Total Purchase Per Person"] = gender_summary_df["Average Total Purchase Per Person"].map("${:.2f}".format)
gender_summary_df

,Gender,Purchase Count,Average Purchase Count,Total Purchase Count,Average Total Purchase Per Person
0,Male,113,$3.20,$361.94,$4.47
1,Female,652,$3.02,$1967.64,$4.07
2,Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [15]:
bins = [0, 9, 14, 19, 24, 29, 34, 39, 46]

# Create the names for the four bins
labels = ["<10", "10-14", "15-19", "20-24", "25-29","30-34", "35-39", "40+"]
unique_purchase_df["Age_range"] = pd.cut(unique_purchase_df["Age"], bins, labels=labels)
age_lab_series = unique_purchase_df["Age_range"].value_counts()
percentage_players=unique_purchase_df["Age_range"].value_counts()/len(number_players)
percentage_players

#gender_percentage_series=purchase_df["Gender"].value_counts()/len(purchase_df)
age_count_series=unique_purchase_df["Age_range"].value_counts()
age_summary_df=pd.DataFrame({'Age Range':age_lab_series.index,
                                'Total Counts':age_count_series.values,
                                'Percentage of players':(["{0:.2f}%".format(val * 100) for val in percentage_players.values])
})
age_summary_df

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

  Age Range  Total Counts Percentage of players
0     20-24           258                44.79%
1     15-19           107                18.58%
2     25-29            77                13.37%
3     30-34            52                 9.03%
4     35-39            31                 5.38%
5     10-14            22                 3.82%
6       <10            17                 2.95%
7       40+            12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [16]:
bins = [0, 9, 14, 19, 24, 29, 34, 39, 46]

# Create the names for the four bins
labels = ["<10", "10-14", "15-19", "20-24", "25-29","30-34", "35-39", "40+"]
purchase_df["Age_range"] = pd.cut(purchase_df["Age"], bins, labels=labels)

#group the columns by age range
age_purchase_gb=purchase_df.groupby("Age_range")
age_purchase_gb.head()

#purchase count
age_purchase_count=age_purchase_gb["Price"].count()

#average purchase price
age_avg_purchase=age_purchase_gb["Price"].mean()

#total purchase price
age_total_purchase=age_purchase_gb["Price"].sum()

In [17]:
unique_age_count = unique_purchase_df.groupby(["Age_range"]).count()["Price"]
unique_age_count

#Normalized avg
age_norm_avg = age_total_purchase / unique_age_count
age_norm_avg

Age_range
<10      4.537059
10-14    3.762727
15-19    3.858785
20-24    4.318062
25-29    3.805195
30-34    4.115385
35-39    4.763548
40+      3.186667
Name: Price, dtype: float64

In [18]:
#create a summary table

age_summary_df = pd.DataFrame({
    "Age Ranges": age_lab_series.index,
    "Purchase Count": age_purchase_count.values,
    "Average Purchase Count":age_avg_purchase.values,
    "Total Purchase Count": age_total_purchase.values,
    "Average Total Purchase Per Person": age_norm_avg.values
})

age_summary_df["Average Purchase Count"] = age_summary_df["Average Purchase Count"].map("${:.2f}".format)
age_summary_df["Total Purchase Count"] = age_summary_df["Total Purchase Count"].map("${:.2f}".format)
age_summary_df["Average Total Purchase Per Person"] = age_summary_df["Average Total Purchase Per Person"].map("${:.2f}".format)
age_summary_df

,Age Ranges,Purchase Count,Average Purchase Count,Total Purchase Count,Average Total Purchase Per Person
0,20-24,23,$3.35,$77.13,$4.54
1,15-19,28,$2.96,$82.78,$3.76
2,25-29,136,$3.04,$412.89,$3.86
3,30-34,365,$3.05,$1114.06,$4.32
4,35-39,101,$2.90,$293.00,$3.81
5,10-14,73,$2.93,$214.00,$4.12
6,<10,41,$3.60,$147.67,$4.76
7,40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [19]:
spender_purchase_gb=purchase_df.groupby("SN")
#spender_purchase_gb.head()

#purchase count
spender_purchase_count=spender_purchase_gb["Purchase ID"].count()
#spender_purchase_count

#average purchase price
spender_avg_purchase=spender_purchase_gb["Price"].mean()
#spender_avg_purchase

#total purchase price
spender_total_purchase=spender_purchase_gb["Price"].sum()
spender_total_purchase.max()

18.96

In [20]:
#create a summary table
top_spenders_df = pd.DataFrame({"Purchase Count": spender_purchase_count,
                             "Average Purchase Price": spender_avg_purchase,
                             "Total Purchase Value":spender_total_purchase})

# Sort to obtain top 5 spender names 
top_spenders_sort = top_spenders_df.sort_values(["Total Purchase Value"], ascending=False).head()

top_spenders_sort["Average Purchase Price"] = top_spenders_df["Average Purchase Price"].map("${:.2f}".format)
top_spenders_sort["Total Purchase Value"] = top_spenders_df["Total Purchase Value"].map("${:.2f}".format)

top_spenders_sort

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [21]:
items_df = purchase_df[["Item ID", "Item Name", "Price"]]
items_df

#purchase count
popular_item_gb=items_df.groupby(["Item ID", "Item Name"])
popular_item_gb.head()


#purchase count
popular_item_purchase_count=popular_item_gb["Price"].count()
popular_item_purchase_count

#total purchase value
popular_item_purchase_value=popular_item_gb["Price"].sum()
popular_item_purchase_value

#purchase price per item
popular_item_purchase_item=popular_item_purchase_value/popular_item_purchase_count
popular_item_purchase_item

Item ID  Item Name
0        Splinter                           1.28
1        Crucifer                           3.26
2        Verdict                            2.48
3        Phantomlight                       2.49
4        Bloodlord's Fetish                 1.70
                                            ...
179      Wolf, Promise of the Moonwalker    4.48
180      Stormcaller                        3.36
181      Reaper's Toll                      1.66
182      Toothpick                          4.03
183      Dragon's Greatsword                1.09
Name: Price, Length: 183, dtype: float64

In [22]:
# Create summary table
most_popular_items = pd.DataFrame({"Purchase Count": popular_item_purchase_count, 
                                   "Item Price": popular_item_purchase_item,
                                   "Total Purchase Value":popular_item_purchase_value})

# Sort to obtain top 5 popular items
most_popular_items_sort = most_popular_items.sort_values(["Purchase Count"], ascending=False).head()

most_popular_items_sort["Item Price"] = most_popular_items_sort["Item Price"].map("${:.2f}".format)
most_popular_items_sort["Total Purchase Value"] = most_popular_items_sort["Total Purchase Value"].map("${:.2f}".format)

most_popular_items_sort

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [24]:
# Sort by purchase value in descending order
most_popular_items_sort = most_popular_items.sort_values(["Total Purchase Value"], ascending=False).head()

most_popular_items_sort["Item Price"] = most_popular_items_sort["Item Price"].map("${:.2f}".format)
most_popular_items_sort["Total Purchase Value"] = most_popular_items_sort["Total Purchase Value"].map("${:.2f}".format)

most_popular_items_sort

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80